@font-face {
    font-family: Alex Brush;
    src: url(font/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: Mont Serrat Regular;
    src: url(font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Mont Serrat Bold;
    src: url(font/Montserrat-Bold.ttf);
}

body{
    color:#2f2f2f;
    font-family: Mont Serrat Regular, Arial, sans-serif;
    color:#2f2f2f;
    text-align:center;
    font-size:13px;
    letter-spacing: 1px;
}

a{
    font-family: Mont Serrat Regular, Arial, sans-serif;
    color:#2f2f2f;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a:hover{
    text-decoration: none;
    color:#997e4c;
}

p{
    line-height:1.8;
    letter-spacing: 1px;
}

h1{
    font-family: Mont Serrat Bold, Arial, sans-serif;
    margin: 0;
    font-size: 26px;
    color:#2f2f2f;
    font-weight:bold;
    letter-spacing: 1px;
}

h2{
    font-family: Mont Serrat Bold, Arial, sans-serif;
    margin: 0;
    font-size: 26px;
    color:#2f2f2f;
    font-weight:bold;
    letter-spacing: 1px;
    margin-bottom:10px;
}

h3{
    font-family: Mont Serrat Regular, Arial, sans-serif;
    margin: 0;
    font-size: 20px;
    color:#2f2f2f;
    letter-spacing: 1px;
}

h4{
    font-family: Mont Serrat Regular, Arial, sans-serif;
    font-size: 18px;
    color:#2f2f2f;
    letter-spacing: 1px;
}

h5{
    font-family: Mont Serrat Regular, Arial, sans-serif;
    font-size: 16px;
    color:#2f2f2f;
    letter-spacing: 1px;
}

.videoWrapper {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    position: relative;
    padding-bottom: 40%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-semfundo{
    background-color:transparent;
    padding:25px 35px;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out; 
    transition: background 0.5s ease-in-out;
}

.btn-rosa{
    border:2px solid #f35353;
    color:#f35353;
}

.btn-rosa:hover{
    background-color:#f35353;
    color:#FFF;
}

.btn-amarelo{
    border:2px solid #e1007f;
    color:#e1007f;
}

.btn-amarelo:hover{
    background-color:#e1007f;
    color:#FFF;
}

.bx-wrapper .bx-viewport{
    margin-top: 10px;
    -webkit-box-shadow: 0 0 0px ; 
    box-shadow: 0 0 0px ; 
    border: 0px solid white; 
    left: 0px;

    .bx-clone{
       display: none !important;
    }
}

.input-message{
    background-color:#FFF;
    text-align:left;
    border:0;
    border-bottom: 1px solid #c3c3c3;
    width:100%;
    margin-bottom:10px;
    padding:5px 20px;
}

.input-message::placeholder{
    color:#9e3a27 !important;
}

.input-contato {
    background-color:#FFF;
    text-align:left;
    border:0;
    border-bottom: 1px solid #c3c3c3;
    width:100%;
    margin-bottom:10px;
    padding:5px 20px;
}
.input-contato::placeholder{
    color:#2f2f2f !important;
}
.btn-contato{
    border:0;
    background-color:transparent;
    color:#2f2f2f;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; 
    transition: all 0.5s ease-in-out;
}

.btn-contato:hover{
    cursor:pointer;
    color:#997e4c;
}

.separador{
    border-bottom:2px solid #997e4c;
    width:30px;
    margin-right:15px;
    display:inline-block;
    vertical-align: middle;
}

.ler-mais{
    font-weight:bold;
    font-size:15px;
}

.wow { visibility: hidden; }

.e-cinza:hover{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.e-claro:hover{
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 1000;
}

#status {
    width: 180px;
    height: 65px;
    position: absolute;
    left: 50%;
    top: 55%;
    background-image: url("images/logo-top.png");;
    background-repeat: no-repeat;
    background-position: center;
    margin: -90px 0 0 -90px;
}

.base{
    color:#997e4c !important;
}

.back-w{
    background-color:#FFF !important;
}

.pag-pad{
    padding:60px 0 !important;
}

.pad{
    padding-bottom:60px !important;
}

.embed-responsive-item{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}