#footer{	
	background: #f9f8ea;
	color:#2f2f2f;
	padding:60px 0;

    a{
        color:#2f2f2f;
        padding:0 10px;
        font-weight:bold;
    }

    a:hover{
        color:#ffc000;
    }


	h3{
		color:#FFF;
		font-weight:normal;
		margin-bottom:20px;
        font-size:30px;
	}

	p{
		color:#efc031;
		margin-bottom:20px;
		font-size:18px;
	}

	.redes_sociais_header{
        height: 68px;
        list-style:none;
        display: inline-block;
        padding:0px;
        margin-bottom:50px;
        width: 340px;

    }

    .redes_sociais_header li:hover{
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }

    .redes_sociais_header a{
        display: inline-block;
        width:68px;
        height:68px;
    }

    .redes_sociais_header .youtube{
        background-image: url("images/redes-bot.jpg");
        background-position: 5px,center;
        background-repeat:no-repeat;
        width:68px;
        height:68px;
        display:inline-block;       
    }

    .redes_sociais_header .instagram{
        background-image: url("images/redes-bot.jpg");
        background-position: -75px,center;
        background-repeat:no-repeat;
        width:68px;
        height:68px;
        display:inline-block;       
    }

    .redes_sociais_header .twitter{
        background-image: url("images/redes-bot.jpg");
        background-position: -160px,center;
        background-repeat:no-repeat;
        width:68px;
        height:68px;
        display:inline-block;       
    }
    .redes_sociais_header .rede{
        background-image: url("images/redes-bot.jpg");
        background-position: -235px,center;
        background-repeat:no-repeat;
        width:68px;
        height:68px;
        display:inline-block;       
    }

}
div.copyrino{
	background-color:#e1007f;
	text-align: center;
	color: #FFF;
	padding:40px 0;

	ul{
		list-style-type: none;
		padding:0;

		li{
			float:left;
			margin-left:30px;
			a{
				color:#FFF
			}
			a:hover{
				color:#cd4228;
			}
		}
	}
}

@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}
